@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px
}

body {
    font-family: 'Poppins' , sans-serif;
    color: var(--primary-text-color);
    background-color: cornsilk;

}

h1 {
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    font-family: 'Roboto' , sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}
/*utility class*/
.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);

}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;

}

.hover-link:hover {
    color: var(--accent-color);
}

.primary-button {
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.primary-button:hover {
    background-color: var(--accent-color-dark);
}

.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 11px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover {
    border-color: var(--accent-color);
}
.top-banner {
    background-image: url('./assets/asset\ 2.jpeg');
    background-color: #4fb3d4;
    background-size: 300px;


}

.banner-text {
    color: white;
    padding: 15px 30px;
    text-align: center;

}

.main-nav {
    margin-top: 20px;
    justify-content: space-between;

}

.company-logo img{
    width: 120px;

}

.nav-links{
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}

/*header*/

/*header {
    padding: 40px;
}

.header-section {
    justify-content: space-around;
    gap: 40px;
}

.header-left {
    max-width: 40vw;
    margin: 50px 50px;
    margin-right: 50px;
    
}

.header-right {
    padding: 50px;
    

}

.view-btn {
    margin: 20px;
}

*/


.feature-section {
    padding: 60px var(--padding-inline-section) 0;
    
}

.feature-header {
    text-align: center;
}

.feature-heading-text {
    margin-bottom: 15px;

}

.feature-area {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}

.feature-card {
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

.feature-card img {
    width: 150px;
}

.big-feature-section {
    padding: 30px var(--padding-inline-section) 0;
    
}

.big-feature-container {
    gap: 40px;
}

.feature-img img {
    width: 40%;
}

.feature-desc {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
/*example section */
.examples-header {
    flex-direction: column;
    text-align: center;
    margin: 50px;

}

.example-area {
    justify-content: space-between;
    margin: 40px;

}

.example-card {
    width: 24%;
    position: relative;
    min-height: 200px;
    background: maroon;
    border-radius: 6% 6%;
    transition: 0.1s ease-out;
}

.example-card:hover {
    box-shadow: 0 0 10px #888;
}

.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}

.cta-section-container {
    flex-direction: column;
    gap: 30px;
    color: white;
}

.cta-section {
    background-color: #183b54;
    padding: 120px var(--padding-inline-section) 80px;
}

footer {
    padding: 80px;
    background-color: #ebf2fa;
}
.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

}

.footer-container {
    align-items: flex-start;
    justify-content: space-between;

}

.sub-footer {
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}

.subfooter-container {
    justify-content: center;
    gap: 30px;
}

#counter {
    text-align: center !important;
    padding: 5px;
    color: #fff;
    background: rgb(1, 65, 127);
    background: radial-gradient(circle, rgba(1, 65, 127, 1) 0%, rgba(1, 48, 103, 1) 16%, rgba(0, 17, 60, 1) 57%, rgba(0, 17, 60, 1) 100%);
    background: url(statsAssets/images/counter-bg.png);
    background-size: cover;

}

.counter-title {
    display: block;
    text-align: center;
    font-size: 25px !important;
    font-family: oswald, Montserrat, sans-serif !important;
}

.text-center {
    text-align: center !important;
}

*, ::after, ::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
}

.row:before {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}

.row:before {
    display: table;
    content: " ";
}

.row {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}
.counter-row {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
}

#counter .counter-container {
    width: 20vw;
    height: 130px;
    background-color: #ffffff88;
    margin: 20px auto;
    border-radius: 20px;
    border: 1px #00000099 solid;
}

.count-box {
    font-size: 20px;
    box-sizing: border-box;

}

.counter-container h3 sup {
    cursor: pointer;
}

.counter-container h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0.5;
    margin-bottom: 0.5rem;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
}

sup {
    top: -0.5em;
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}